<!DOCTYPE html>
<html>
  <head>
    <title>My page</title>
  </head>
  <body>
    <header>
      <h1>About page</h1>
    </header>
    <p><%= image_tag('124.jpg', alt: '') %></p>
    <footer>
      <p>
        <%= link_to 'Home', root_path %>
      </p>
    </footer>
  </body>
</html>
